nav{
    display: flex;
    justify-content: center;
    background-color: #FEF7E2;
    height: 70px;
}

header ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.button {
    align-self: center;
    padding: 10px;
    background-color: #FFDF7F;
    border-radius: 20px;
    margin: 2px;
    color: #7B2C0B;
}

#SHOP{
    padding: 15px 20px;
    
}

main h1{
    font-weight: 700;
    color: #7B2C0B;
    font-size: 2em;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;

}

.card {
    margin-bottom: 20px;
    background-color: #FBF7E3;
    width: 45%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 0;
    border-radius: 20px;
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 70%;
}

.card-content {
    display: flex;
    justify-content: space-around;
}

main button {
    width: 50%;
    margin: 10px auto;
    border-radius: 15px;
    background-color: #FFDF7F;
    color: #7B2C0B;
}

main #News{
    font-weight: 700;
    color: #7B2C0B;
    font-size: 2em;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

main #titolo {
    font-weight: 700;
    color: #7B2C0B;
    font-size: 1.5em;
    margin-bottom: 15px;
}

#article-container {
    padding: 10px;
}

#article {
    background-color: #FBF7E3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}

#article p {
    color: #7B2C0B;
}

#article img {
    margin-top: 10px;
}
